

@use "sass:map";
@use "../abstracts/variables" as *;

// 방향과 속성 정의
$directions: (
  't': 'top',
  'r': 'right', 
  'b': 'bottom',
  'l': 'left'
);

$properties: (
  'm': 'margin',
  'p': 'padding'
);

// 믹스인으로 중복 제거
@mixin generate-utilities($prop-key, $dir-key, $size) {
  .#{$prop-key}#{$dir-key}-#{$size} {
    #{map.get($properties, $prop-key)}-#{map.get($directions, $dir-key)}: #{$size}px;
  }
}

@each $prop-key, $prop-value in $properties {
  @each $dir-key, $dir-value in $directions {
    @for $i from 1 through 50 {
      @include generate-utilities($prop-key, $dir-key, $i);
    }
  }
}

.display-grid-column-3{
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.p-none{
  padding: 0 !important;
}

.flex-d-col{
  display: flex;
  flex-direction: column;
}

.gap-y-24{
  gap: 2.4rem 0;
}
.gap-y-32{
  gap: 3.2rem 0;
}

.mobile\:flex-d-col{
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.mobile\:gap-y-16{
  @media (max-width: 768px) {
    gap: 1.6rem 0;
  }
}