:root {
  --primary-color: #256EF4;
  --primary-color-dark: #0B50D0;
  --secondary-color: #2ecc71;
  --container-width: 1248px;
  --padding-horizontal: 24px;
  --color-light-primary-60: #0B50D0;
  --p-60: #0b50d0;
  --p-10: #d8e5fd;
  --p-90: #03163a;
  --p-100: #000;
  --g-00: #FFF;
  --g-20: #CDD1D5;
  --g-40: #8A949E;
  --g-50: #6D7882;
  --g-60: #58616A;
  --g-90: #1E2124;
  --font-family: "Pretendard GOV";
}
