<div class="layer-panel">
  <div class="layer-panel-wrapper">
    <div class="layer-panel-vi">
      <!-- 제목추가 -->
      <h2 class="layer-panel-title">해양정보</h2>
      <button type="button" class="layer-mobile-control">
        <i></i>
      </button>
    </div>
    <!-- 해양정보 -->
    <div class="marine-info-section show" data-panel-menu="ocean-info">
      <div class="search-section">
        <div class="tabs">
          <button class="current tab" title="선택 됨">
            <i class="icon icon-tab-layer"></i>
            <span class="text">레이어</span>
          </button>
          <button class="tab">
            <i class="icon icon-tab-poi"></i>
            <span class="text">POI</span>
          </button>
        </div>
        
      </div>
      <div class="search-bar-wrap">
        <div class="search-bar">
          <select class="category-select">
            <option>갯벌 체험</option>
          </select>
          <span class="line"></span>
          <input type="text" placeholder="검색어를 입력하세요" class="search-input">
          <button class="search-btn">
            <span class="visually-hidden">검색</span>
          </button>
        </div>
      </div>
      <div class="category-tabs">
        <button class="tab"><i class="icon icon-all"></i>전체</button>
        <button class="tab "><i class="icon icon-layer-1"></i>지형/지명</button>
        <button class="tab "><i class="icon icon-layer-10"></i>해양지명</button>
        <button class="tab "><i class="icon icon-layer-11"></i>항만구역</button>
        <button class="tab "><i class="icon icon-layer-12"></i>갯벌체험</button>
        <button class="tab"><i class="icon icon-layer-2"></i>항해지원</button>
        <button class="tab"><i class="icon icon-layer-3"></i>기반시설</button>
        <button class="tab none-tab"><i class="icon icon-layer-4"></i>항만/경계</button>
        <button class="tab none-tab"><i class="icon icon-layer-5"></i>안전</button>
        <button class="tab none-tab"><i class="icon icon-layer-6"></i>고해도</button>
        <button class="tab none-tab"><i class="icon icon-layer-7"></i>해양정보</button>
        <button class="tab none-tab"><i class="icon icon-layer-8"></i>해도구역</button>
        <button class="tab none-tab"><i class="icon icon-layer-9"></i>관리보호구역</button>
        <button class="more-btn category-tabs-toggle">
          <span class="visually-hidden">더보기</span>
        </button>
      </div>
      <div class="item-count">총 <b>2,918</b>건</div>
      <div class="layer-list">
        <div class="layer-item-list">
          <div class="layer-item">
            <button class="layer-btn-lv1" data-layer-toggle="level-2">
              <span class="layer-name">지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명</span>
              <i class="icon icon-layer-1"></i>
            </button>
            <div class="layer-item-tree level-2">
              <div class="layer-btn-ui layer-tree-toggle">
                <button class="layer-btn-ui-more" data-layer-toggle="level-3"></button>
                <i class="icon icon-legend-1"></i>
                <span class="layer-name">지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명지형/지명</span>
                <div class="layer-utils">
                  <button class="layer-utils-btn layer-utils-btn-download"><span
                      class="visually-hidden">다운로드</span></button>
                  <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
                  <button class="layer-utils-btn layer-utils-btn-sub"><span class="visually-hidden">하위
                      레이어</span></button>
                </div>
                <span class="line"></span>
                <div class="switch-btn">
                  <label class="switch-toggle">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </div>
              </div>
              <!-- // layer-btn-ui -->
              <div class="layer-item-tree no-children level-3">
                <div class="layer-btn-ui layer-tree-toggle">
                  <i class="icon icon-legend-1"></i>
                  <span class="layer-name">지형/지명</span>
                  <div class="layer-utils">
                    <button class="layer-utils-btn layer-utils-btn-download"><span
                        class="visually-hidden">다운로드</span></button>
                    <button class="layer-utils-btn layer-utils-btn-meta"><span
                        class="visually-hidden">메타</span></button>
                    <button class="layer-utils-btn layer-utils-btn-sub"><span class="visually-hidden">하위
                        레이어</span></button>
                  </div>
                  <span class="line"></span>
                  <div class="switch-btn">
                    <label class="switch-toggle">
                      <input type="checkbox">
                      <i></i>
                    </label>
                  </div>
                </div>
              </div>
              <div class="layer-item-tree level-3">
                <div class="layer-btn-ui layer-tree-toggle">
                  <button class="layer-btn-ui-more" data-layer-toggle="level-4"></button>
                  <i class="icon icon-legend-1"></i>
                  <span class="layer-name">지형/지명</span>
                  <div class="layer-utils">
                    <button class="layer-utils-btn layer-utils-btn-download"><span
                        class="visually-hidden">다운로드</span></button>
                    <button class="layer-utils-btn layer-utils-btn-meta"><span
                        class="visually-hidden">메타</span></button>
                    <button class="layer-utils-btn layer-utils-btn-sub"><span class="visually-hidden">하위
                        레이어</span></button>
                  </div>
                  <span class="line"></span>
                  <div class="switch-btn">
                    <label class="switch-toggle">
                      <input type="checkbox">
                      <i></i>
                    </label>
                  </div>
                </div>

                <div class="layer-item-tree no-children level-4">
                  <div class="layer-btn-ui layer-tree-toggle">
                    <i class="icon icon-legend-3"></i>
                    <span class="layer-name">지형/지명</span>
                    <div class="layer-utils">
                      <button class="layer-utils-btn layer-utils-btn-download"><span
                          class="visually-hidden">다운로드</span></button>
                      <button class="layer-utils-btn layer-utils-btn-meta"><span
                          class="visually-hidden">메타</span></button>
                      <button class="layer-utils-btn layer-utils-btn-sub"><span class="visually-hidden">하위
                          레이어</span></button>
                    </div>
                    <span class="line"></span>
                    <div class="switch-btn">
                      <label class="switch-toggle">
                        <input type="checkbox">
                        <i></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- // level-2 -->
          </div>
          <!-- // layer-item -->

          <div class="layer-item">
            <button class="layer-btn-lv1" data-layer-toggle="level-2">
              <span class="layer-name">지형/지명</span>
              <i class="icon icon-layer-1"></i>
            </button>
            <div class="layer-item-tree level-2">
              <div class="layer-btn-ui layer-tree-toggle">
                <i class="icon icon-legend-2"></i>
                <span class="layer-name">지형/지명</span>
                <div class="layer-utils">
                  <button class="layer-utils-btn layer-utils-btn-download"><span
                      class="visually-hidden">다운로드</span></button>
                  <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
                  <button class="layer-utils-btn layer-utils-btn-sub"><span class="visually-hidden">하위
                      레이어</span></button>
                </div>
                <span class="line"></span>
                <div class="switch-btn">
                  <label class="switch-toggle">
                    <input type="checkbox">
                    <i></i>
                  </label>
                </div>
              </div>
              <!-- // layer-btn-ui -->

            </div>
            <!-- // level-2 -->
          </div>
          <!-- // layer-item -->
        </div>
      </div>
    </div>
    <!-- // 해양정보 -->

    <!-- 해양정보 검색 결과 -->
    <div class="marine-info-result" style="display: none;">
      <div class="category-tabs-slider">
        <button class="tab current" title="선택 됨">전체<em class="count">2,918</em></button>
        <button class="tab ">레이어명<em class="count">2,918</em></button>
        <button class="tab">항<em class="count">2,918</em></button>
        <button class="tab">해양지역<em class="count">2,918</em></button>
        <button class="tab">항만<em class="count">2,918</em></button>
      </div>

      <div class="marine-layer-result">
        <div class="marine-layer-group">
          <button class="collapse-toggle" aria-expanded="false" aria-controls="layer-panel-1">
            <i></i>
            <span>레이어명</span>
            <em class="count">2,918</em>
          </button>
          <div class="layer-item-panel" id="layer-panel-1">
            <div class="layer-btn-ui">
              <span class="layer-name">지형/지명</span>
              <div class="layer-utils">
                <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
              </div>
              <span class="line"></span>
              <div class="switch-btn">
                <label class="switch-toggle">
                  <input type="checkbox">
                  <i></i>
                </label>
              </div>
            </div>
            <div class="layer-btn-ui">
              <span class="layer-name">지형/지명</span>
              <div class="layer-utils">
                <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
              </div>
              <span class="line"></span>
              <div class="switch-btn">
                <label class="switch-toggle">
                  <input type="checkbox">
                  <i></i>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="marine-layer-group">
          <button class="collapse-toggle" aria-expanded="false" aria-controls="layer-panel-2">
            <i></i>
            <span>레이어명</span>
            <em class="count">2,918</em>
          </button>
          <div class="layer-item-panel" id="layer-panel-2">
            <div class="layer-btn-ui">
              <span class="layer-name">지형/지명</span>
              <div class="layer-utils">
                <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
              </div>
              <span class="line"></span>
              <div class="switch-btn">
                <label class="switch-toggle">
                  <input type="checkbox">
                  <i></i>
                </label>
              </div>
            </div>
            <div class="layer-btn-ui">
              <span class="layer-name">지형/지명</span>
              <div class="layer-utils">
                <button class="layer-utils-btn layer-utils-btn-meta"><span class="visually-hidden">메타</span></button>
              </div>
              <span class="line"></span>
              <div class="switch-btn">
                <label class="switch-toggle">
                  <input type="checkbox">
                  <i></i>
                </label>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- // 해양정보 검색 결과 -->

    <!-- 정보검색 -->
    <div class="search-card-section" data-panel-menu="info-analysis">
      <div class="search-card-list">
        <a href="#" class="search-card first-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">공간 검색</h3>
            <p class="search-card-desc">위험물, 인명사고, 선박사고, 어장정보를 공간별로 검색할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-1.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card second-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">해양과학조사자료 검색</h3>
            <p class="search-card-desc">해역별 해양과학조사자료를 검색할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-2.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card third-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">해저사퇴분포도 검색</h3>
            <p class="search-card-desc">유관기관 및 핵심가치 기반으로 해양공간계획을 종합적으로 분석합니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-3.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card fourth-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">해저지형 검색</h3>
            <p class="search-card-desc">사고 위험 지점과 위험 예방 시설 분포를 확인할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-4.svg" alt="">
          </div>
        </a>
      </div>
    </div>
    <!-- // 정보검색 -->

    <!-- 정보검색 공간 검색 -->
    <div class="spatial-search-section" style="display: none;">
      <div class="panel-section-header">
        <div class="l">
          <button class="back-btn">
            <span class="visually-hidden">뒤로가기</span>
          </button>
          <h2 class="panel-section-title">공간 검색</h2>
        </div>
        <button class="detail-search-toggle">상세검색</button>
      </div>

      <div class="panel-section-content">
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">01</span>조사해역을 선택하세요.</span>
            <span class="text-info">* 복수 선택 가능</span>
          </h3>
          <div class="checkbox-group">
            <label class="action-toggle">
              <input type="checkbox" checked>
              <i></i><span>위험물</span>
            </label>
            <label class="action-toggle">
              <input type="checkbox" checked>
              <i></i>
              <span>인명사고</span>
            </label>
            <label class="action-toggle">
              <input type="checkbox">
              <i></i>
              <span>선박사고</span>
            </label>
            <label class="action-toggle">
              <input type="checkbox">
              <i></i>
              <span>어장정보</span>
            </label>
          </div>
        </div>

        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">02</span>검색영역을 선택하세요.</span>
          </h3>
          <div class="shape-buttons">
            <button class="shape-btn action-toggle active">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <circle cx="8.66602" cy="8" r="8" fill="#CDD1D5" />
              </svg>
              <span class="visually-hidden">원형</span>
            </button>
            <button class="shape-btn action-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                <rect x="0.332031" y="0" width="16" height="16" rx="2" fill="#CDD1D5" />
              </svg>
              <span class="visually-hidden">사각형</span>
            </button>
            <button class="shape-btn action-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                <path d="M10.332 0L20.332 10L10.332 20L0.332031 10L10.332 0Z" fill="#CDD1D5" />
              </svg>
              <span class="visually-hidden">다각형</span>
            </button>
          </div>
        </div>

        <div class="btn-actions">
          <button class="btn-outline btn">초기화</button>
          <button class="btn-primary btn">검색</button>
        </div>

        <div class="spatial-search-result">
          <div class="division"></div>

          <div class="total-count" aria-live="polite">
            검색결과 총 <b class="point">2,918</b>건
          </div>

          <ul class="spatial-result-list">
            <li>
              <button class="spatial-result-item active">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
            <li>
              <button class="spatial-result-item">
                <span>어초</span>
              </button>
            </li>
          </ul>
        </div>

      </div>
      
      <div class="panel-detail-search">
        <div class="detail-search-content">
          <header>
            <strong>상세검색</strong>  
            <button class="close-btn" title="닫기"><i aria-hidden="true"></i></button>
          </header>
          <section>
            <div class="search-field">
              <h3 class="search-field-title">
                <span class="text"><span class="num">01</span>조사해역을 선택하세요.</span>
                <span class="text-info">* 복수 선택 가능</span>
              </h3>
              <div class="checkbox-group">
                <label class="action-toggle">
                  <input type="checkbox" checked="">
                  <i></i><span>위험물</span>
                </label>
                <label class="action-toggle">
                  <input type="checkbox" checked="">
                  <i></i>
                  <span>인명사고</span>
                </label>
                <label class="action-toggle">
                  <input type="checkbox">
                  <i></i>
                  <span>선박사고</span>
                </label>
                <label class="action-toggle">
                  <input type="checkbox">
                  <i></i>
                  <span>어장정보</span>
                </label>
              </div>
            </div>
            <div class="search-field">
              <h3 class="search-field-title">
                <span class="text"><span class="num">02</span>검색영역을 선택하세요.</span>
              </h3>
              <div class="shape-buttons">
                <button class="shape-btn action-toggle active">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                    <circle cx="8.66602" cy="8" r="8" fill="#CDD1D5"></circle>
                  </svg>
                  <span class="visually-hidden">원형</span>
                </button>
                <button class="shape-btn action-toggle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                    <rect x="0.332031" y="0" width="16" height="16" rx="2" fill="#CDD1D5"></rect>
                  </svg>
                  <span class="visually-hidden">사각형</span>
                </button>
                <button class="shape-btn action-toggle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                    <path d="M10.332 0L20.332 10L10.332 20L0.332031 10L10.332 0Z" fill="#CDD1D5"></path>
                  </svg>
                  <span class="visually-hidden">다각형</span>
                </button>
              </div>
            </div>
            <div class="search-field">
              <h3 class="search-field-title">
                <span class="text"><span class="num">03</span>명칭을 검색하세요.</span>
                <span class="text-info">* 선택사항</span>
              </h3>
              <form class="input-group-search">
                <select name="" id="" title="기관명 선택" >
                  <option value="">기관명</option>
                </select>
                <span class="line"></span>
                <input type="text" placeholder="검색어를 입력하세요" title="검색어 입력">
              </form>
            </div>
            <div class="btn-actions">
              <button class="btn-outline btn">초기화</button>
              <button class="btn-primary btn">검색</button>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- // 정보검색  공간 검색 -->

    <!-- 분석 -->
    <div class="search-card-section" data-panel-menu="analysis">
      <div class="search-card-list">
        <a href="#" class="search-card first-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">밀도분석</h3>
            <p class="search-card-desc">사고 위험 지점과 위험 예방 시설 분포를 확인할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-5.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card second-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">해양사고 모의확인</h3>
            <p class="search-card-desc">데이터 기반으로 사고 원인을 분석하고 대응 훈련을 할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-6.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card third-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">해양공간계획</h3>
            <p class="search-card-desc">유관기관 및 핵심가치 기반으로 해양공간계획을 종합적으로 분석합니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-7.svg" alt="">
          </div>
        </a>

      </div>
    </div>
    <!-- // 분석 -->

    <!-- 밀도 분석 -->
    <div class="density-section" data-panel-menu="analysis" style="display: none;">
      <div class="panel-section-header">
        <div class="l">
          <button class="back-btn">
            <span class="visually-hidden">뒤로가기</span>
          </button>
          <h2 class="panel-section-title">밀도분석</h2>
        </div>
      </div>

      <div class="panel-section-content">
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">01</span>사고/위험 지점을 선택하세요.</span>
          </h3>
          <div class="checkbox-group">
            <button class="action-toggle active"><span>선박사고</span></button>
            <button class="action-toggle"><span>비선박사고</span></button>
            <button class="action-toggle"><span>침선</span></button>
            <button class="action-toggle"><span>노출암</span></button>
          </div>
        </div>
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">02</span>위험 예방 시설을 선택하세요.</span>
          </h3>
          <div class="checkbox-group">
            <button class="action-toggle"><span>해양경비안전서</span></button>
            <button class="action-toggle"><span>소방서</span></button>
            <button class="action-toggle"><span>병원</span></button>
            <button class="action-toggle"><span>경찰서</span></button>
            <button class="action-toggle"><span>보건소</span></button>
          </div>
        </div>
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">03</span>격자 크기를 선택하세요.</span>
          </h3>
          <div class="checkbox-group">
            <button class="action-toggle"><span>10 X 10</span></button>
            <button class="action-toggle"><span>20 X 20</span></button>
            <button class="action-toggle"><span>30 X 30</span></button>
            <button class="action-toggle"><span>40 X 40</span></button>
          </div>
        </div>
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">04</span>지점 선택</span>
          </h3>
          <div class="area-select-card">
            <div class="area-select-info">
              <i class="info-icon"></i>
              <span class="info-text">밀도분석 지점 직접 선택하기</span>
            </div>
            <button type="button" class="area-select-btn">지도에서 영역 선택</button>
          </div>
        </div>
        <div class="btn-actions">
          <button class="btn-secondary btn">초기화</button>
          <button class="btn-primary btn">검색</button>
        </div>

        <div class="density-result">
          <div class="division"></div>
          <div class="density-result-title">검색결과 확인</div>
          <div class="density-result-list">
            <button class="density-result-item danger-point"><i></i><span>사고/위험지점</span></button>
            <button class="density-result-item safety-facility"><i></i><span>위험예방시설</span></button>
          </div>
        </div>
      </div>

    </div>
    <!-- // 밀도 분석 -->

    <!-- 재난안전 -->
    <div class="disaster-section" data-panel-menu="disaster-safety">
      <div class="panel-section-header">
        <div class="l">
          <button class="back-btn">
            <span class="visually-hidden">뒤로가기</span>
          </button>
          <h2 class="panel-section-title">안전지수</h2>
        </div>
      </div>

      <div class="panel-section-content">
        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">01</span>해양 공간의 이용 유형을 선택하세요.</span>
          </h3>
          <div class="gap-8">
            <button class="alert-btn modal-open-btn" data-modal="alert-modal">
              <span>해수욕장 안전지수</span>
              <i></i>
            </button>
          </div>
          <div class="checkbox-group">
            <button class="action-toggle active"><span>해수욕장</span></button>
            <button class="action-toggle"><span>연안해역</span></button>
            <button class="action-toggle"><span>진입수로(항)</span></button>
            <button class="action-toggle"><span>갯벌체체험장</span></button>
          </div>
        </div>

        <div class="search-field">
          <h3 class="search-field-title">
            <span class="text"><span class="num">02</span>해역을 선택하세요.</span>
          </h3>
          <div class="collapse-group">
            <div class="collapse-item">
              <button class="collapse-toggle" aria-expanded="false" aria-controls="layer-panel-4">
                <i></i>
                <span>레이어명</span>
                <em class="count">2,918</em>
              </button>
              <div class="layer-item-panel" id="layer-panel-4">
                <button class="layer-btn-ui" type="button" data-toggle="item">
                  <span class="layer-name">관성솔밭 해수욕장</span>
                </button>
                <button class="layer-btn-ui" type="button" data-toggle="item">
                  <span class="layer-name">관성솔밭 해수욕장</span>
                </button>
              </div>
            </div>
            <div class="collapse-item">
              <button class="collapse-toggle">
                <span>레이어명</span>
                <em class="count">0</em>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- // 재난안전 -->

    <!-- 항행통보 -->
    <div class="search-card-section" data-panel-menu="navigation-notice">
      <div class="search-card-list lt">
        <a href="#" class="search-card first-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">항로표지 구분</h3>
            <p class="search-card-desc">항로표지의 세부 정보를 확인할 수 있습니다</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-8.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card second-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">침선 장애물 구분</h3>
            <p class="search-card-desc">해양 활동 시 위험이 될 수 있는 침선 현황을 열람할 수 있습니다</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-9.svg" alt="">
          </div>
        </a>

        <a href="#" class="search-card third-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">어장 장애물 구분</h3>
            <p class="search-card-desc">어장 내 위치한 각종 장애물 정보를 확인할 수 있습니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-10.svg" alt="">
          </div>
        </a>
        <a href="#" class="search-card third-search-card">
          <div class="search-card-content">
            <h3 class="search-card-title">어초 장애물 구분</h3>
            <p class="search-card-desc">해양 자원 보호 및 어업 활동을 위한 어초 현황을 제공합니다.</p>
          </div>
          <div class="search-card-icon">
            <img src="/assets/images/map/search-card-icon-11.svg" alt="">
          </div>
        </a>
      </div>
      <div class="traffic-buttons">
        <button>
          <i class="icon-traffic-btn1"></i>
          <span class="text">전체 수정 목록</span>
        </button>
        <span class="line"></span>
        <button>
          <i class="icon-traffic-btn2"></i>
          <span class="text">등록</span>
        </button>
      </div>
    </div>
    <!-- // 항행통보 -->

    <!-- 해양기본도 -->
    <div class="disaster-section" data-panel-menu="basic-map">
      <div class="search-section">
        <div class="tabs">
          <button class="current tab" title="선택 됨">
            <i class="icon icon-tab-layer"></i>
            <span class="text">레이어</span>
          </button>
          <button class="tab">
            <i class="icon icon-tab-poi"></i>
            <span class="text">POI</span>
          </button>
        </div>
      </div>
      <div class="search-bar-wrap">
        <div class="search-bar">
          <input type="text" placeholder="도엽번호를 입력하세요." class="search-input">
          <button class="search-btn">
            <span class="visually-hidden">검색</span>
          </button>
        </div>
      </div>

      
    </div>
    <!-- // 해양기본도 -->
  </div>
</div>


<!-- <div class="detail-search-field">
  
</div> -->