<section class="read-section">
  <div class="read-section-header">
    <h2>API키 발급현황</h2>
  </div>
  <div class="read-section-body">
    <div class="api-form api-form-status">
      <div class="form-section">
        <div class="form-group">
          <label class="form-label">
            사용자 정보 <i class="required">필수입력</i>
          </label>
          <div class="form-description">
            사용자 및 인증키 확인을 위해 메일인증(구글, 카카오) 방식을 활용 합니다.
          </div>
          <div class="input-group">
            <input type="text" class="krds-input medium" placeholder="로그인 후 신청 현황을 확인할 수 있습니다." title="사용자 정보 입력"
              disabled>
            <div class="social-login">
              <button type="button" class="social-btn google"><img src="/assets/images/portal/google.png"
                  alt="Google"></button>
              <button type="button" class="social-btn kakao"><img src="/assets/images/portal/kakaotalk.png"
                  alt="Kakao"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="api-form-status-list">
      <div class="table__list">
        <table>
          <caption>API키 발급현황</caption>
          <colgroup>
            <col style="width: 16rem;">
            <col style="width: auto;">
          </colgroup>
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">내용</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="number">1</td>
              <td>내용</td>
            </tr>
            <tr>
              <td colspan="2" class="empty">해당 정보가 없습니다.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>