<section class="read-section">
  <div class="read-section-header">
    <h2>Open API 이용약관</h2>
  </div>
  <div class="read-section-body">
    <div class="terms-content">
      <!-- <div class="title">API 이용 약관</div> -->
      <h2>제 1 조 [목적]</h2>
      <p>
        이 이용약관(이하 '약관'이라 합니다)은 이용 고객(이하 '이용자'이라 합니다)이 국립해양조사원이 오픈, 공유, 참여를 통해 좀 더 자율적이고 창조적인 서비스의 생산을 돕기 위해
        국립해양조사원이 제공하는 개방해의 Open API 서비스(Application Programming Interface의 약자로, 이하 'API 서비스'라 합니다)의 이용에 관한 제반 사항과
        기타 필요한 사항을 구체적으로 규정함을 목적으로 합니다.<br>
        'API 서비스'는 사용자의 웹사이트에 다음에 기술된 제한과 조건하에서 해양정보를 조회할 수 있는 Javascript로 구성되어 있고, 지도 서비스에 대한 접근은 제공하지 않습니다.<br>
      </p>
      <h2>제2조 [약관의 효력 및 변경]</h2>
      <p>
        ① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
        가. 이용자라 함은 개방해에서 정한 메일인증(OATH)으로 로그인하고 이 약관에 동의한 후 API 서비스를 제공받는 자를 말합니다.<br>
        나. API라 함은 Application Programming Interface의 약자로서 회원이 해양정보 API의 검색결과를 자신이 구축한 사이트에서 사용할 수 있도록 국립해양조사원이
        제공하는 등록값의 집합을 말합니다.<br>
        다. API 서비스라 함은 이용자가 자발적인 참여를 통해 자유롭게 정보를 공유하고 창조적인 서비스를 생산할 수 있도록 돕기 위하여 국립해양조사원이 API를 제공하고 운영하는 것을
        말합니다.<br>
        라. 인증Key라 함은 관련 시스템이 API 서비스 이용 승낙을 받은 이용자임을 식별할 수 있도록 국립해양조사원에서 할당하는 고유한 값을 말합니다.<br>
        ② 이 약관에서 사용하는 용어 중 제1항에서 정하지 아니한 것은 국립해양조사원 API 이용약관, 관계 법령에서 정하는 바에 따르며, 그 외에는 일반 관례에 따릅니다.<br>
      </p>
      <h2>제 3 조 [약관의 효력 및 변경]</h2>
      <p>
        ① 이 약관은 이용자의 동의와 국립해양조사원의 승낙으로 효력을 발생합니다. 이용자가 이 약관에 동의함으로써 API 서비스 이용계약이 성립합니다.<br>
        ② 국립해양조사원은 관련 법령에 위배되지 않는 범위 내에서 이 약관의 내용을 개정할 수 있으며, 개정 약관은 API 서비스 페이지 또는 연결화면을 통하여 공지함으로써 효력을
        발휘합니다.<br>
        ③ 국립해양조사원이 이 약관을 개정할 경우 국립해양조사원은 15일 전에 개정 약관을 본 조 제2항의 방법으로 이용자에게 공지합니다.<br>
      </p>
      <h2>제 4 조 [API 서비스의 제공 및 이용 시 주의사항]</h2>
      <p>
        ① 이용자는 API 서비스를 이용함에 있어 API 서비스 페이지를 통해 인증Key를 발급 받아야 하며, 발급 받은 인증Key를 이용하여 API 서비스를 제공 받을 수 있습니다.<br>
        ② 이용자는 API 서비스를 이용한 검색결과를 노출함에 있어 선정적, 폭력적, 혐오적인 내용을 포함하여 반사회적, 비도덕적, 불법적인 내용과 결합 또는 연계하거나 인접하도록 구성할 수
        없으며, 검색결과의 공공성을 준수하여야 합니다.<br>
        ③ 이용자는 API 서비스를 이용한 검색결과를 독립적으로 노출하여야 하며, 검색결과의 앞, 뒤, 중간 등에 다른 내용을 삽입하거나 왜곡할 수 없고, 타인으로 하여금 검색결과의 내용 및 의도
        등을 오인케 하여서는 안 됩니다.<br>
        ④ 이용자는 국립해양조사원의 API 서비스를 모방하거나, 국립해양조사원의 브랜드를 모방, 도용하여서는 안 됩니다.<br>
      </p>
      <h2>제 5 조 [인증Key의 이용 및 관리]</h2>
      <p>
        ① 이용자는 발급 받은 인증Key를 타인에게 제공, 공개하거나 공유할 수 없으며, 발급 받은 이용자 본인에 한하여 이를 사용할 수 있습니다.<br>
        ② 이용자는 발급 시 요청하는 사항에 대해 정확히 입력함으로서 여러개의 인증Key를 발급받아 사용할 수 있습니다.<br>
      </p>
      <h2>제 6 조 [지적재산권의 귀속]</h2>
      <p>
        ① 국립해양조사원이 제공하는 API 및 관련 프로그램의 저작권은 국립해양조사원에 있으며, 국립해양조사원은 사정에 따라 API 또는 API 서비스를 변경하거나 중단할 수 있습니다.<br>
        ② API 서비스를 이용한 검색결과는 국립해양조사원 또는 제3자에게 저작권이 귀속되어 있으며, 국립해양조사원의 API 서비스 이용 승낙으로 인하여 이용자가 검색결과에 대한 저작권 또는
        사용권을 취득하는 것은 아닙니다.<br>
        ③ 이용자는 API 서비스를 통하여 실시간으로 제공되는 검색결과를 연동할 수 있을 뿐이며, 검색결과를 복제 또는 저장하거나 전송할 수 없습니다.<br>
        ④ 이용자는 API 서비스를 이용하여 검색결과를 노출하는 페이지에 국립해양조사원이 정한 방식에 따라 ＂국립해양조사원 OPEN API"를 사용한 결과물임을 명시해야 합니다.<br>
        ⑤ 국립해양조사원의 “개방해” API 서비스 이용 승낙이 “개방해”의 이용자에게 국립해양조사원의 등록상표 또는 저작물에 대한 이용권을 부여하는 것으로 해석될 수 없습니다. 이용자는
        국립해양조사원이 특별히 허락한 경우에 한하여만 본 항에 명시한 국립해양조사원의 등록상표 또는 저작물을 사용할 수 있으며, 그러한 경우에도 국립해양조사원의 등록상표 또는 저작물의 이용기준을
        준수하여야 하고 임의로 이를 변형하거나 훼손하여서는 안 됩니다.<br>
      </p>
      <h2>제 7 조 [국립해양조사원의 책임 제한]</h2>
      <p>
        ① 국립해양조사원은 약관, 서비스별 안내, 기타 국립해양조사원이 정한 이용기준을 준수하지 않은 이용으로 인한 결과에 대하여 책임을 지지 않습니다.<br>
        ② 국립해양조사원은 API 서비스를 통하여 특정 키워드에 대한 검색결과를 요청 받은 경우 검색 알고리즘에 따라 검색결과를 제공할 뿐이며 검색결과에 대한 신뢰성, 정당성, 적법성 등을
        보증하지는 않습니다.<br>
        ③ 국립해양조사원은 API 서비스의 사용불능으로 인하여 이용자에게 발생한 손해에 대하여 책임을 지지 않습니다.<br>
        ④ API 서비스는 이용자의 사용환경 등에 따라 정상적으로 동작하지 않거나 국립해양조사원이 예견하지 못한 오류가 존재할 수 있습니다.<br>
        ⑤ 국립해양조사원은 이용자가 'API 서비스'를 이용하여 기대하는 효과를 얻지 못하거나 상실한 것에 대하여 책임을 지지 않습니다.<br>
        ⑥ 국립해양조사원은 이용자 상호간 및 이용자와 제3자 상호 간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며, 이로 인한 손해를 배상할 책임도 없습니다.
      </p>
    </div>
    <div class="terms-aree-wraps">
      <div class="krds-check-area">
        <div class="krds-form-check">
          <input type="radio" name="rdo_1" id="rdo_1" checked>
          <label for="rdo_1">동의</label>
        </div>
        <div class="krds-form-check">
          <input type="radio" name="rdo_1" id="rdo_2">
          <label for="rdo_2">동의 안함</label>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="read-section">
  <div class="read-section-header">
    <h2>Open API 발급요청</h2>
    <div class="note-text">” <i class="required">필수입력</i> ”표시는 필수 입력 사항입니다</div>
  </div>
  <div class="read-section-body">
    <div class="api-form">
      <!-- 왼쪽 컬럼 -->
      <div class="form-section">
        <!-- 사용자 정보 -->
        <div class="form-group">
          <label class="form-label">
            사용자 정보 <i class="required">필수입력</i>
          </label>
          <div class="form-description">
            사용자 및 인증키 확인을 위해 메일인증(구글, 카카오) 방식을 활용 합니다.
          </div>
          <div class="input-group">
            <input type="text" class="krds-input medium" placeholder="전체" title="사용자 정보 입력" disabled>
            <div class="social-login">
              <button type="button" class="social-btn google"><img src="/assets/images/portal/google.png"
                  alt="Google"></button>
              <button type="button" class="social-btn kakao"><img src="/assets/images/portal/kakaotalk.png"
                  alt="Kakao"></button>
            </div>
          </div>
        </div>

        <!-- 사용자 닉네임 -->
        <div class="form-group">
          <label class="form-label">
            사용자 닉네임 <i class="required">필수입력</i>
          </label>
          <div class="form-description">
            사용자 닉네임은 10자 이하로 입력해 주세요.
          </div>
          <div class="input-group">
            <input type="text" class="krds-input medium" placeholder="전체" title="사용자 닉네임 입력">
            <button type="button" class="krds-btn secondary medium">중복확인</button>
          </div>
          <div class="error-message">에러 메시지! 및 focus가 와야합니다.</div>
        </div>

        <!-- 사용 유형 -->
        <div class="form-group">
          <label class="form-label">사용·유형</label>
          <div class="radio-full-group">
            <div class="radio-item">
              <input type="radio" name="usage_type" id="private" value="private" checked>
              <label for="private">
                <i class="checkmark"></i>
                <span>민간</span>
              </label>
            </div>
            <div class="radio-item">
              <input type="radio" name="usage_type" id="public" value="public">
              <label for="public">
                <i class="checkmark"></i>
                <span>공공</span>
              </label>
            </div>
          </div>
          <div class="form-description">
            <ul class="disc-list black">
              <li>공공기관인 경우 사전업무 협의 후 신청바랍니다.</li>
              <li>민간기관인 경우 WMS 요청을 사용 할 수 없습니다.</li>
              <li>항해용으로 사용될 소지가 있을 경우 사용이 제한 될 수 있습니다.</li>
            </ul>
          </div>
        </div>

        <!-- 사용 목적 -->
        <div class="form-group">
          <label class="form-label">사용 목적</label>
          <div class="radio-full-group">
            <div class="radio-item">
              <input type="radio" name="purpose" id="haareum" checked>
              <label for="haareum">
                <i class="checkmark"></i>
                <span>해아름(해양공간베이스맵)</span>
              </label>
            </div>
            <div class="radio-item">
              <input type="radio" name="purpose" id="marine_info">
              <label for="marine_info">
                <i class="checkmark"></i>
                <span>해양공간정보</span>
              </label>
            </div>
          </div>
        </div>

        <!-- 사용 용도 -->
        <div class="form-group">
          <label class="form-label">사용 용도</label>
          <div class="form-description">
            사용자 및 인증키 확인을 위해 메일인증(구글, 카카오) 방식을 활용 합니다.
          </div>
          <select class="krds-form-select medium" title="사용 목적 선택택">
            <option>웹 서비스용</option>
          </select>
        </div>
      </div>

      <!-- 오른쪽 컬럼 -->
      <div class="form-section">
        <!-- 사용 구분 -->
        <div class="form-group">
          <label class="form-label" for="basic_map">사용 구분</label>
          <div class="map-selection">
            <div class="map-option">
              <input type="radio" name="map_type" id="basic_map" checked>
              <label for="basic_map">
                <div class="map-image"><img
                    src="http://www.khoa.go.kr/oceanmap/images/gis/basemap_sample/BASEMAP_RLTM.png" alt=""></div>
                <div class="map-label">기본수준면(DL)</div>
              </label>
            </div>
            <div class="map-option">
              <input type="radio" name="map_type" id="satellite_map">
              <label for="satellite_map">
                <div class="map-image"><img
                    src="http://www.khoa.go.kr/oceanmap/images/gis/basemap_sample/BASEMAP_TOPO.png" alt=""></div>
                <div class="map-label">영상맵</div>
              </label>
            </div>
          </div>

          <div class="use-check-list">
            <ul>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_INFRS" value="INFRS">
                  <label for="us_INFRS">기반시설</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_FSHRS" value="FSHRS">
                  <label for="us_FSHRS">수산</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_SAFETY" value="SAFETY">
                  <label for="us_SAFETY">안전</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_INFOSRCH" value="INFOSRCH">
                  <label for="us_INFOSRCH">정보검색</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_GMRPH" value="GMRPH">
                  <label for="us_GMRPH">지형·지질</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_CHARTA" value="CHARTA">
                  <label for="us_CHARTA">해도구역</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_MRTM" value="MRTM">
                  <label for="us_MRTM">해사</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_SEA" value="SEA">
                  <label for="us_SEA">해상</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_MBRDR" value="MBRDR">
                  <label for="us_MBRDR">해양경계</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_MRNCNS" value="MRNCNS">
                  <label for="us_MRNCNS">해양보전</label>
                </div>
              </li>
              <li>
                <div class="krds-form-check">
                  <input type="checkbox" name="grpArr" id="us_MRTMPLNM" value="MRTMPLNM">
                  <label for="us_MRTMPLNM">해양지명</label>
                </div>
              </li>
            </ul>
          </div>

        </div>

        <!-- 서비스 URL -->
        <div class="form-group">
          <label class="form-label">서비스 URL</label>
          <input type="text" class="krds-input medium" placeholder="your.domain.com" title="서비스 URL 입력">
        </div>

        <!-- 소속/회사 -->
        <div class="form-group">
          <label class="form-label">소속/회사</label>
          <div class="select-group">
            <select class="krds-form-select" title="소속 선택">
              <option>소속을 선택 하여 주세요.</option>
            </select>
            <select class="krds-form-select" title="기관 선택">
              <option>기관을 선택 하여 주세요.</option>
            </select>
          </div>
        </div>

        <!-- 소속부서 -->
        <div class="form-group">
          <label class="form-label">소속부서</label>
          <input type="text" class="krds-input medium" placeholder="소속부서를 입력해 주세요." title="소속부서 입력">
          <div class="form-description">
            <ul class="disc-list black">
              <li>인증키 기본 유효기간은 발급된 날로부터 1년입니다.</li>
              <li>만료일 기준 한달 전인증키의 사용 기록이 있는 경우 자동 연장 됩니다.</li>
              <li>유효기간 연장 및 변경을 원하시는 경우 담당자에게 문의 부탁드립니다.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-actions side">
  <div class="l">
    <button type="button" class="krds-btn tertiary">취소하기</button>
  </div>
  <div class="r">
    <button type="button" class="krds-btn primary">발급요청</button>
  </div>
</div>