<!-- footer -->
<footer id="krds-footer">
  <div class="foot-quick">
    <div class="inner">
      <button type="button" class="link" title="헤헤양수산부 및 소속기관 레이어">헤헤양수산부 및 소속기관</button>
      <button type="button" class="link" title="해양수산부 산하기관 레이어">해양수산부 산하기관</button>
      <button type="button" class="link" title="관련사이트 레이어">관련사이트</button>
    </div>
  </div>
  <div class="inner">
    <div class="f-logo">
      <span class="sr-only">국립해양조사원</span>
    </div>
    <div class="f-cnt">
      <div class="f-info">
        <p class="info-addr">(49111) 부산광역시 영도구 해양로 351 (동삼동 1162) </p>
        <ul class="info-cs">
          <li>
            <span><strong class="strong">대표전화</strong>051-400-4400</span>
            <span><strong class="strong">팩스번호</strong>051-400-4191</span>
            <span><strong class="strong">보이는 ARS</strong>1588-9822</span>
          </li>
        </ul>
      </div>

    </div>

    <div class="f-btm">
      <div class="f-btm-text">
        <div class="f-menu">
          <a href="#" class="point">개인정보처리방침</a>
          <a href="#">저작권 정책</a>
        </div>
        <p class="f-copy">© COPYRIGHT(C) 2020 BY KOREA HYDROGRAPHIC AND OCEANOGRAPHIC AGENCY. ALL RIGHTS RESERVED.</p>
      </div>
    </div>
  </div>
</footer>
<!-- //footer -->

<script type="module" src="./js/page/portal.js"></script>
