<!-- masthead -->
<div id="krds-masthead">
  <div class="toggle-wrap">
    <div class="toggle-head">
      <div class="inner">
        <span class="nuri-txt">이 누리집은 대한민국 공식 전자정부 누리집입니다.</span>
      </div>
    </div>
  </div>
</div>
<!-- //masthead -->

<header id="header" class="header">
  <div class="header-container">
    <div class="header-l">
      <h1 class="logo"><a href="/main.html" title="홈 바로가기">K-OCEAN</a></h1>
    </div>
    <div class="header-r">
      <nav id="nav">
        <ul class="gnb-list" id="gnb">
          <li class="gnb-lv-1">
            <a href="#" class="gnb-lv-1-item before-none">해양지도 서비스</a>
            <div class="gnb-dropmenu gnb-dropmenu-1">
              <div class="gnb-dropmenu-info">
                <h3>해양지도 서비스</h3>
                <p>해양 공간의 다양한 정보를 통합된 하나의 지도와 데이터로 제공합니다.</p>
              </div>
              <ul>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">해양정보</div>
                    <div class="desc">해양 공간의 다양한 정보를 통합된 하나의 지도와 데이터로 제공합니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="gnb-lv-1">
            <a href="#" class="gnb-lv-1-item">플랫폼 소개</a>
            <div class="gnb-dropmenu gnb-dropmenu-2">
              <div class="gnb-dropmenu-info">
                <h3>플랫폼 소개</h3>
                <p>K-OCEAN 플랫폼의 장기적인 발전방향과 비전을 확인할 수 있습니다.</p>
              </div>
              <ul>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">K-OCEAN 플랫폼 소개</div>
                    <div class="desc">K-OCEAN 플랫폼의 목적과 유용한 활용 정보를 확인할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">K-OCEAN 로드맵</div>
                    <div class="desc">K-OCEAN 플랫폼의 장기적인 발전방향과 비전을 확인할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="gnb-lv-1">
            <a href="#" class="gnb-lv-1-item">서비스 활용</a>
            <div class="gnb-dropmenu gnb-dropmenu-3">
              <div class="gnb-dropmenu-info">
                <h3>서비스 활용</h3>
                <p>해양지명, 해상, 수산 정보등 다양한 데이터를 확인하고 활용할 수 있습니다.</p>
              </div>
              <ul>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">데이터 다운로드</div>
                    <div class="desc">해양지명, 해상, 수산 정보등 다양한 데이터를 확인하고 활용할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">Open-API</div>
                    <div class="desc">기본 지도, 영상 지도 등 해양 데이터 기반의 지도를 활용할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">통계서비스</div>
                    <div class="desc">사용자들이 주용 이용하는 레이어에 대한 통계 자료와 상세 정보를 제공합니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">Cook-Book</div>
                    <div class="desc">K-OCEAN 플랫폼의 다양한 기능들을 소개하고, 활용할 수 있는 방안을 제시합니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">공간정보 법령 및 규정</div>
                    <div class="desc">전자해도 기반의 공간정보에 대한 법령 및 규정을 확인할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="gnb-lv-1">
            <a href="#" class="gnb-lv-1-item">커뮤니티</a>
            <div class="gnb-dropmenu gnb-dropmenu-4">
              <div class="gnb-dropmenu-info">
                <h3>커뮤니티</h3>
                <p>K-Ocena 플랫폼을 쉽고 편리하게 이용할 수 있도록 다양한 정보를 제공합니다.</p>
              </div>
              <ul>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">공지사항</div>
                    <div class="desc">주요행사, 업데이트 정보 등 공지사항을 확인할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
                <li class="gnb-lv-2">
                  <a href="#" class="gnb-lv-2-item">
                    <div class="tit">자주하는 질문</div>
                    <div class="desc">자주 묻는 질문에 대한 질의/답변을 한곳에서 확인할 수 있습니다.</div>
                    <div class="icon-arrow"></div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn-allmenu" id="btnAllMenu">전체메뉴</button>
    </div>
  </div>
</header>


<nav id="mobile-nav">
  <ul class="gnb">
    <li class="gnb-lv1">
      <a href="#">해양지도 서비스</a>
      <div class="gnb-submenu">
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">해양정보</a></li>
        </ul>
      </div>
    </li>
    <li class="gnb-lv1">
      <a href="#">플랫폼 소개</a>
      <div class="gnb-submenu">
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">K-OCEAN 플랫폼 소개</a></li>
        </ul>
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">K-OCEAN 로드맵</a></li>
        </ul>
      </div>
    </li>
    <li class="gnb-lv1">
      <a href="#">서비스 활용</a>
      <div class="gnb-submenu">
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">데이터 다운로드</a></li>
        </ul>
      </div>
    </li>
    <li class="gnb-lv1">
      <a href="#">커뮤니티</a>
      <div class="gnb-submenu">
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">공지사항</a></li>
        </ul>
        <ul class="gnb-submenu-list">
          <li class="gnb-submenu-item"><a href="#">자주하는 질문</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>